<div class="col s4">
                <div id="{{id}}" class="card">
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <ul>
                         <li>Created on: {{date}}</li> 
                         <li>Type: {{ticket_type}}</li>
                         <li>Resolved: No</li> 
                        </ul>
                    </div>
                </div>
</div>
            