 
 <div class="container">
 <h3>Services by Members</h3>
    
  <table class="centered">
        <thead>
          <tr>
              <th>Member Name</th>
              <th>Service Title</th>
              <th>Phone</th>
              <th>Service Type</th>
              <th>Years of Experience/Operation</th>
          </tr>
        </thead>
        <tbody>
            {{#if services}}
            {{#each services as |service|}}
            {{>service-info service}}
            {{/each}}
            {{else}}
            <tr>
                <td colspan="5"><h3>No service added yet.</h3></td>
            </tr>
            {{/if}}
          
         </tbody>
    </table>
</div>